*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    height: 50px;
    width: 100%;
    background-color:rgb(6, 6, 88);
    
}

 .head-list{
    height:100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:none;
    /* margin-right:100px;
    padding-bottom: 5px; */
}
.head-list a{
    padding-bottom: 30px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    left: 3%;
    top: 25px;

}
.line{
    height: 4px;
    width: 30px;
    background-color: rgb(225, 23, 23);
    margin: 5px 3px ;
}

.head-list .login{
    width: 110px;
    height: 30px;
    background-color: transparent;
    border: 3px solid blue;
    outline: none;
    border-radius: 10px;
    color:white;
    font-weight: 500;
    transition: .5s;
}
.head-list .login:hover{
    background-color:white;
    color:black;
}

/* .logo */

.logo{
    height: 210px;
    width: 100%;
    background-color: white;
}
.img1{
    height: 210px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 30px;
    margin: auto;
}

/* club */

.logo1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:transparent;
    margin-top: 50px; 
}
.box1{
    height: 300px;
    width: 18%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 10px;
    background-size: auto;
}
.box-img{
    height: 250px;
    width: 250px;
    background-size:cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* box */

.box2{
    text-align: center;
    font-size: 3rem;
}
.box3{
    height: 460px;
    width: 100%;
    background-color:transparent;
}
.result{
    height: 400px;
    width:100%;
    text-align: center;
    font-size: 1.8rem;
    font-style:italic;
    margin-top: 50px;
}

/* about */


.about{
    height: 40px;
    width: 90%;
    background-color:transparent;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: auto;
    
    
}
.about a{
    font-size: 1.5rem;
    text-decoration: none;
    
}

/* footer */

footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display:flex ;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel1 a{
    text-decoration: none;
    color: white;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #a29b9b;
}
.foot-panel3{
    background-color:black;
    color: white;
    border-top: 0.9 solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoo{
    background-image: url(logo1.webp);
    background-size: cover;
    height: 50px;
    width: 100px;
    
} 
.foot-panel4{
    background-color: #222f3d;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    
}
.pages{
    padding-top: 25px;
}
.copyw{
    padding-top: 5px;
}







@media only screen and (max-width:600px){

    .head-list{
        flex-direction: column;
    }
    .header{
        height: 300px;
        transition: all 0.7s ease-out;
        color: chartreuse;
    }
    .burger{
        display: block;
    }
    .h-nav{
        height: 100px;
    }
    .v-class{
        opacity: 0;
    }

    .logo1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color:transparent;
        margin-top:40px; 
    }
    .box1{
        height: 80px;
        width: 18%;
        background-color: white;
        padding: 10px 0px 5px;
        margin-top: 5px;
        background-size: auto;
    }
    .box-img{
        height: 35px;
        width: 35px;
        background-size:cover;
        margin: auto;
    }

    .box3{
        height: 400px;
        width: 100%;
        background-color:transparent;
    }

    .result{
        height: 370px;
        width:100%;
        text-align: center;
        font-size: 1.1rem;
        font-style:italic;
        margin-top: 50px;
    }

    .about a{
        font-size: 0.5rem;
        text-decoration: none;
        
    }

    ul p{
        font-size: 0.5rem;
    }
    ul a{
        display: block;
        font-size: 0.35rem;
        margin-top: 10px;
        color: #a29b9b;
    }
    
}



@media only screen and (max-width:1300px){

.img1{
    margin: auto;
    padding-top:20px ;
}

.logo1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:transparent;
    margin-top:40px; 
}
.box1{
    height: 280px;
    width: 18%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 10px;
    background-size: auto;
}
.box-img{
    height: 210px;
    width: 210px;
    background-size:cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


}




@media only screen and (max-width:1100px){

    .logo1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color:transparent;
        margin-top:40px; 
    }
    .box1{
        height: 190px;
        width: 18%;
        background-color: white;
        padding: 20px 0px 15px;
        margin-top: 5px;
        background-size: auto;
    }
    .box-img{
        height: 160px;
        width: 160px;
        background-size:cover;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .result{
        height: 400px;
        width:100%;
        text-align: center;
        font-size: 1.6rem;
        font-style:italic;
        margin-top: 50px;
    }

    .head-list a{
        font-size: 1rem;
    }
}



@media only screen and (max-width:850px){
    .logo1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color:transparent;
        margin-top:40px; 
    }
    .box1{
        height: 140px;
        width: 18%;
        background-color: white;
        padding: 20px 0px 15px;
        margin-top: 5px;
        background-size: auto;
    }
    .box-img{
        height: 110px;
        width: 110px;
        background-size:cover;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .result{
        height: 400px;
        width:100%;
        text-align: center;
        font-size: 1.4rem;
        font-style:italic;
        margin-top: 50px;
    }

    .about a{
        font-size: 1.1rem;
        text-decoration: none;
        
    }

    .head-list a{
        font-size: 0.9rem;
    }

    ul p{
        font-size: 1rem;
    }
    ul a{
        display: block;
        font-size: 0.7rem;
        margin-top: 10px;
        color: #a29b9b;
    }
}



@media only screen and (max-width:700px){
    .logo1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color:transparent;
        margin-top:40px; 
    }
    .box1{
        height: 100px;
        width: 18%;
        background-color: white;
        padding: 10px 0px 5px;
        margin-top: 5px;
        background-size: auto;
    }
    .box-img{
        height: 80px;
        width: 80px;
        background-size:cover;
        margin: auto;
    }

    .box3{
        height: 420px;
        width: 100%;
        background-color:transparent;
    }
    
    .result{
        height: 390px;
        width:100%;
        text-align: center;
        font-size: 1.1rem;
        font-style:italic;
        margin-top: 50px;
    }

    .about a{
        font-size: 1rem;
        text-decoration: none;
        
    }

    ul p{
        font-size: 0.75rem;
    }
    ul a{
        display: block;
        font-size: 0.65rem;
        margin-top: 10px;
        color: #a29b9b;
    }
}